.underline-indicator(@height: 3px) {
  // 需使box对象能成为一个containing box
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: currentColor;
    height: @height;
    width: 100%;
    bottom: 0;
  }
}