button {
  box-sizing: border-box;
}
.absolute-box {
  position: absolute;
}
/* 组件化写法示例 */
#main .center {
  width: 30px;
}
#main .center .Toc {
  text-align: center;
}
#main .center .Toc .text {
  margin-left: 34px;
}
#main .center .Toc .text .inner {
  height: 43px;
}
#main .center .Toc .text .inner .microInner {
  background: white;
}
#main .center .Toc .hello {
  box-sizing: border-box;
}
#main .center .Toc .NavItem .text {
  text-align: center;
}
#main .center .Toc {
  height: 65px;
  color: dodgerblue;
}
#main .center .Toc .NavItem {
  text-align: right;
}
#main .center > .center {
  height: 40px;
}
